<!-- <div class="headerwrapper">
			<div class="quizImagewrapper">
				<div style="border:3px solid orange" class="LogoBox">
					<img id="quizImage" src="https://i.imgur.com/yVwQzlJ.jpg"/>
				</div> 
			</div>
		</div> -->
        
      <div class="awdawd">
			<div class="slider-wrapper">
				<div class="slideshow">
				
					<div class="slide one">
						
                        <img class="slideimage" src="https://i.imgur.com/XkdPfGw.png" />
					</div>
					<div class="slide two">
						<img class="slideimage" src="https://i.imgur.com/2f5pSnL.jpg" />
                        
					</div>
					<div class="slide three">		
						<img class="slideimage" src="https://i.imgur.com/DG0McVb.jpg" />
                        
					</div>
					<div class="slide four">		
						
                        <img class="slideimage" src="https://i.imgur.com/VlZLyKy.jpg"/>
					</div>
				</div>
			</div>
		</div>
       

        