.MultipleChoiceWrapper{
	display:inline-block;
	
	width: 100%;
}
.col-lg-6:hover{background-color:orange}
.Question{
	display:block;
	width: 70%;
	float: left;
}
.Account{
	display:block;
	width: 30%;
	float: right;
}