.Leaderboard{
	width: 25%;
	display:block;
	float:right;
	text-align: center;
	background: white;
	height: 50%;
	font-family: "Ubuntu","sans-serif";
    font-size: 14px;
	animation: slideInFromBottom ease 2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; 
	opacity:0;
    opacity: 1\9;
}
.leaders li{
  font-family: "Ubuntu","sans-serif";
  font-size: 14px;
}
h1:after{
	content: "";
	background: #111b24;
	height: 3px;
	display:block;
	width: 100px;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}
#Leaderboard{
	color: #bf9b30;
	text-shadow: 1.3px 1.3px #998100;
}

@keyframes slideInFromBottom {
    0% {
        opacity:0;
        transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}