<div class="SelectQuiz">
  <h1>Select Quiz </h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-12"><button type="button" class="btn btn-block" (click)="select(1)"><span class="quizButtons">Quiz 1</span></button></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><button type="button" class="btn btn-block" (click)="select(2)"><span class="quizButtons">Quiz 2</span></button></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><button type="button" class="btn btn-block" (click)="select(3)"><span class="quizButtons">Quiz 3</span></button></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><button type="button" class="btn btn-block" (click)="select(4)"><span class="quizButtons">Quiz 4</span></button></div>
    </div>		
  </div>
</div>
